{% extends 'layout.html' %} {%block wrapper%}

<form action="/register" method="post">
	<input
		type="text"
		autocomplete="off"
		autofocus="on"
		name="name"
		placeholder="enter your name"
	/>
	<select name="sport">
		<option disabled selected>Choose a sport</option>
		<option value="football">Football</option>
		<option value="basketball">Basketball</option>
		<option value="tennis">Tennis</option>
		<option value="gymnastics">Gymnastics</option>
	</select>
	<button type="submit">Register</button>
</form>

{% endblock %}
